@media screen and (max-width: 499px) {
  .img-responsive {
    width: 90%;
  }
  .card-img-top {
    width: 100%;
  }

  .name1 {
    font-size: 0.8rem;
  }
  .name2 {
    font-size: 0.8rem;
  }
  .name3 {
    font-size: 0.8rem;
  }
  .location_1 {
    font-size: 0.8rem;
  }
  .location_2 {
    font-size: 0.8rem;
  }
  .location_3 {
    font-size: 0.8rem;
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .img-responsive {
    width: 80%;
  }
  .card-img-top {
    width: 100%;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .img-responsive {
    width: 65%;
  }
  .card-img-top {
    width: 100%;
  }
}

/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
  .img-responsive {
    width: 55%;
  }
  .card-img-top {
    width: 100%;
  }
}

/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
  .img-responsive {
    width: 40%;
  }
  .card-img-top {
    width: 100%;
  }
  .name1 {
    font-size: 1.5rem;
  }
  .name2 {
    font-size: 1.5rem;
  }
  .name3 {
    font-size: 1.5rem;
  }
  .selects {
    font-size: 1.5rem;
    text-align: justify;
  }
}
.h2 {
  padding: 20px;
}

.rewardP {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: left;
}
.loginText {
  padding-top: 120px;
  font-size: 14px;
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}

.selects {
  float: right;
  list-style: none;
  margin-right: 40%;
}

.selects li {
  display: list-item;
}

.cardBodies1 {
  border-style: solid;
  border-color: green;
  background-color: white;
  min-height: 100%;
  margin-bottom: 10%;
}
.top {
  margin-top: 25%;
}

.cardBodies1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardBodies2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.btn-secondary {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 25%;
  background-color: #007bff;
  max-width: 50%;
  margin-bottom: 4%;
}

.btn-secondary2 {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 25%;
  background-color: darkred;
  max-width: 50%;
  margin-bottom: 4%;
}

.cardBodies2 {
  border-style: solid;
  border-color: red;
  background-color: white;
  min-height: 100%;
  margin-bottom: 20%;
}

.input-container {
  align-self: center;
  align-content: center;
}

.card-img-top {
  margin-right: 65%;
}
