.img-fluid {
  padding-top: 15px;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  max-width: 120px;
  cursor: pointer;
}

.img-fluid:hover {
  opacity: 0.8;
}

.moneyText {
  padding-top: 2px;
  color: lightgreen;
  font-size: 22px;
}

.headerText {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.redMoneyText {
  padding-top: 2px;
  color: maroon;
  font-size: 22px;
}

.dash_card {
  position: fixed; /* instead of absolute */
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 90;
}

.heading_card {
  height: 0px;
  z-index: 90;
}
