.profilePage{
    position: fixed;
    width: 100%;
    height:100%;
    
  }
  @media only screen and (min-width: 768px){
  .profilePage{
    position: absolute;
    width: 100%;
    height:100%;
    
  }
  
  }
.width100{
margin-top:3%;
width:100%;
height:13vh;
}
.disable-div {
    pointer-events: none;
    opacity: 0.1;
    background-color: rgba(24, 13, 13, 0.5);
}
.AvatarEditor {
    height: 13vh;
    width: 13vh;
    border-radius: 50%;
    border-color: black;
    
    position: relative;
    margin:0;
    float: left;
    left: 10%;
    align-self: center;
    z-index: 2;
}
.editorForm{
  

    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffff;;
    position: relative;
    z-index: 3;
  }
.ProfilePic{
    height: 13vh;
    width: 13vh;
    border-radius: 50%;
    border-color: black;
    background-image: url(/static/media/anonProfilePicture.f4e2da9f.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100%;
    border: 4px solid #fff;
    background-position: center;
    position: absolute;
    margin:0;
    left:0;
    top:0;
    
   
    align-self: center;
    z-index: 2;
}

.top_sec {
    border-bottom: 2px solid rgb(241, 241, 241);
    background: white;
    padding: 5px 20px;
    position: absolute; /* instead of fixed */
    height: 40%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 50px;
}
.top_sec2 {
    background: transparent linear-gradient(180deg, rgb(8, 168, 177) 0%, #02777e 100%) 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 40px 40px;
    padding: 5px 20px;
    position: absolute; /* instead of fixed */
    height: 10vh;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 50px;
}


.name_box {
    height: 12%;
    width: 100%;
    padding-left: 10%;
    z-index: 1;
    position: relative;
    text-align: left;
    float: left;
    font-size: 3.5vh;
    font-weight: bold;
    word-wrap: break-word;
}

.title_box {
    height: 8%;
    width: 100%;
    padding-left: 10%;
    z-index: 1;
    position: relative;
    text-align: left;
    float: left;
    font-size: 2.5vh;
    font-weight: bold;
    word-wrap: break-word;
}

.mid_sec {
    border: 2px solid rgb(241, 241, 241);
    background: white;
    padding: 5px 20px;
    position: absolute;
    height: 20%;
    top: 40%;
    left: 0;
    right: 0;
    z-index: 0;
    font-size: 50px;
}

.description_box {
    height: 15%;
    width: 100%;
    padding-left: 10%;
    z-index: 1;
    position: relative;
    text-align: left;
    float: left;
    font-size: 2vh;
    
    word-wrap: break-word;
}

.post_connect_box{
    margin-top:2%;
    height: 10%;
    width: 100%;
    
    z-index: 1;
    position: relative;
    text-align:left;
    float:left;
    font-size: large;
    word-wrap: break-word;
}
.connect_box_2{
    position: relative;
    width:50%;
    height: 100%;
    float: left;

}
.connect_text {
    float:left;
    width:50%;
    text-align: center;
}
.bot_sec {
    border: 2px solid rgb(241, 241, 241);
    background: white;
    padding: 5px 20px;
    position: absolute;
    height: 30%;
    top: 60%;
    left: 0;
    right: 0;
    z-index: 0;
    font-size: 50px;
}

.edit_profile_button {
    height: 5%;
    width: 30%;
    top: 12%;
    /* left: 0; */
    /* right: 10%; */
    margin-left: auto;
    margin-right: 8%;
    border: 1px solid black;
    border-radius: 40px 40px 40px 40px;
    border-width: thin;
    background-color: rgb(8, 168, 177);
    position: relative;
    font-size: 2vh;
    z-index: 2;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    display: flex;
}

.random_container {
    
    width: auto;
    height:100px;
    left: 15%;
    right: 15%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.location_box {
    margin-top: 3%;
    height: 8%;
    width: 100%;
    left: 10%;
    z-index: 1;
    position: relative;
    text-align:left;
    float:left;
    font-size: 2vh;
    
    word-wrap: break-word;
}

.num_post {
    height: 30px;
    width: 50%;
    float:left;
    z-index: 1;
    position: relative;
    text-align: left;
}

.num_connect {
    height: 30px;
    width: 50%;
    float:left;
    z-index: 1;
    position: relative;
    text-align: left;
}
.edit_picture_close_button {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 15px;
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
}
.edit_profile_title_text{
    width:30%;
    font-size: 2vh;
    font-weight:bold;
}

.edit_picture_form {
    margin-top: 0px;
    height: fit-content;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffff;
    ;
    position: relative;
    z-index: 3;
}

.edit_picture_form_group {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.edit_profile_form {
    margin-top: 0px;
    height: fit-content;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ffff;
    position: relative;
    z-index: 3;
    border: 3px solid #ced4da;
    border-radius: .25rem;
}
.edit_profile_form_group {
    margin-bottom: 1rem;
    margin-top: 1rem;
    width:100%;
    position: relative;
    height:40px;
    display:flex;
}
.edit_profile_form_group2 {
    margin-bottom: 1rem;
    width:100%;
    position: relative;
    height:100px;
    display:flex;
}
.form_control {
    display: block;
    width: 65%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    float:right;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    max-height: 100px;
}
.get_location_button {
    background-color: #302df0;
    border-radius: 40px 40px 40px 40px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 85%;
    margin-left:2.5%;
    margin-right:2.5%;
}
.submit_button {
    background-color: #302df0;
    border-radius: 40px 40px 40px 40px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    margin-left:2.5%;
    margin-right:2.5%;
}



.locationErrorMessage {
    color: red;
    font-weight: bold;
}

img.anonAvatar {
    width: 100px;
    border-radius: 50%;
}

.hover11 figure img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover11 figure:hover img {
    opacity: .8;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    

    .hover11 {
        
    }

    .title_box {
       
    }

    .upper_line {
        
    }
    .description_box {
       
       
        
    }

    .num_post {
        
    }

    .num_connect {
        
    }
    .lower_line {
       
    }
    .edit_profile_button {
      
    }
}
