
.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border-color: black;
  background-color: blanchedalmond;
  position: absolute;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  top: 75px;
  align-self: center;
  z-index:9999;
  ;
  
}
.top_sec{
  background: transparent linear-gradient(180deg, rgb(8, 168, 177) 0%, #02777e 100%) 0%
  0% no-repeat padding-box;
  border-radius: 0px 0px 40px 40px;
  padding: 50px 20px;
  position: absolute; /* instead of fixed */
  height: 200px;
  top:0;
  left:0;
  right:0;
  z-index: 9998;
  font-size: 50px;
  
}
.name_box{
  height: 50px;
  width: 400px;
  border-color: black;
  border-width: thick;
  top:300px;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  z-index:9999;
  position: absolute;
  font-size: x-large;
  font-weight: bold;
}
.title_box{
  height: 30px;
  width: auto;
  border: 1px solid black;
  border-width: thin;
  top:350px;
  left:25%;
  right:25%;
  margin-left: auto;
  margin-right: auto;
  z-index:1;
  position: absolute;
  font-size: large; 
}
.upper_line{
  height:2px;
  width:auto;
  top: 400px;
  left:15%;
  right:15%;
  margin-left: auto;
  margin-right: auto;
  position:absolute;
  background-color: black;
}
.description_box{
  height: 125px;
  width: auto;
  border: 1px solid black;
  border-width: thin;
  top:425px;
  left:15%;
  right:15%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  font-size: medium;  
}
.lower_line{
  height:2px;
  width:auto;
  top: 650px;
  left:15%;
  right:15%;
  margin-left: auto;
  margin-right: auto;
  position:absolute;
  background-color: black;
}
.edit_profile{
  height: 40px;
  width:300px;
  top: 675px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 40px 40px 40px 40px;
  border-width: thin;
  background-color: rgb(8, 168, 177);
  position: absolute;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  display: flex;
}
.random_container{
  height: 1000px;
  width: auto;
  top:1000px;
  left:15%;
  right:15%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}
.location_box{
  height: 30px;
  width: auto;
  top:550px;
  left:25%;
  right:25%;
  margin-left: auto;
  margin-right: auto;
  z-index:1;
  position: absolute;
  font-size: medium; 
  font-weight: bold;
}
.num_post{
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-width: thin;
  top:600px;
  left:25%;
  right:25%;
  margin-left: 0;
  margin-right: auto;
  z-index:1;
  position: absolute;
  font-size: large; 

}
.num_connect{
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-width: thin;
  top:600px;
  margin-left: auto;
  margin-right: auto;
  z-index:1;
  position: absolute;
  font-size: large; 
}