.loginText {
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}

.successMessage {
  color: green;
  font-weight: bold;
}

.errorMessage {
  color: red;
  font-weight: bold;
}

.regForm {
  min-height: 80vh;
  padding: 20px;
}

.loginText {
  margin-top: 3vh;
  font-size: 14px;
}

.redDialogText > * {
  color: red !important;
}
