h1 {
}

/* Split the screen in half */
.split {
  width: 100%;
  position: absolute;

  top: 0;
  overflow-x: hidden;

  padding-left: 5px;
  padding-right: 5px;
}
/* Control the top */
.topp {
  left: 0;
  padding-top: 60px;
  z-index: 10;
}
/* Control the bottom */
.bottom {
  margin-top: 5px;
  width: 100%;
  top: 15%;
  left: 0;
  height: 80%;
  overflow-y: scroll;
  z-index: 1;
}
.transdropdown {
  position: relative;
  background-color: #302df0;
  color: white;
  float: left;
  padding: 7px 10px 5px;
  border: 2px solid;
  margin-left: 5px;
  z-index: 10;
  font-size: 15px;
}

.transdropdown-content {
  display: none;
  position: fixed;
  background-color: #e2ecec;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 5px 5px;
  overflow-y: auto;
  overflow-x: hidden;
  height: fit-content;
  max-height: 50%;
  z-index: 10;
}

.transdropdown:hover .transdropdown-content {
  display: block;
}
.App {
  justify-content: center;
  margin-top: 0px;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}
.App::-webkit-scrollbar {
  display: none;
}

.splitButton{
  width:100%;
  height:60px;
  margin:2px;
  background-color:#027d85;
  font-size:15px;
  padding:0; 
}

.board{
  flex: 1;
  width: 100%;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  height: 600px;
  overflow-Y: 'scroll';
}

.dateBox {
  display: flex;
  padding: 10px;
  flex-Direction: row;
  justify-Content: space-between;
  height: 40px;
  margin: 5px 5px 5px 5px ;
  font-size: 20px;
  font-weight: bold;
}

.transactionBox {
  display: flex;
  padding: 15px 10px 15px 10px;
  flex-Direction: row;
  justify-Content: space-between;
  height: 80px;
  background-color: white;
  color: rgb(241, 240, 240);
  border: 1px solid;
}
  
.logoBox {
  width: 10%;
}

.logoImage{
  height: 50px;
  width: 50px;
}

.main {
  flex-Direction: column;
  width: 60%;
  text-align: left;
}

.name {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.category {
  color: black;
  font-size: 15px;
  overflow: hidden;
}

.amount {
  width: 20%;
  flex-Direction: column;
  text-align: right;
}

.pending {
  color: grey;
  font-size: 15px;
  overflow: hidden;
}

.positive {
  color: green;
  font-size: 20px;
  overflow: hidden;
  font-weight: bold;
}

.negative {
  color: red;
  font-size: 20px;
  overflow: hidden;
  font-weight: bold;
}
