.loginPage {
  min-height: 80vh;
  padding: 20px;
}
.forgotText {
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}

.registerMessage {
  margin-top: 3vh;
  font-size: 14px;
}

.forgotMessage {
  margin-top: 3vh;
  font-size: 14px;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 10px;
  overflow: visible;
  padding: 0px;
  text-align: center;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
