@media screen and (max-width: 767px) {
  .center {
  height: 80px;
  width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .center {
  height: 100px;
  width: 502px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .center {
  height: 120px;
  width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .center {
  height: 100px;
  width: 100%;
  }
}
.accountsPage{
  position: fixed;
  width: 100%;
  height:100%;
  background-color: white;;
}
@media only screen and (min-width: 768px){
.accountsPage{
  position: relative;
  width: 100%;
  height:800px;
  background-color: white;;
}
}

.col-12 {
  padding-right:0;
  padding-left:0;

}

.leftText {
  float: left;
}
.bankText {
  float: left;
  font-size: 12px;
  opacity: 0.5;
}

.leftTextMuted {
  float: left;
  font-size: 12px;
}

.rightText {
  float: right;
  font-weight: normal;
}

.largeText {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

.largeText2 {
  font-size: 18px;
  font-weight: bold;
}

.cashCard {
  margin: 15px;
}

.creditCard {
  margin: 15px;
}

.loanCard {
  margin: 15px;
}
.listButton {
  width: 60px;
  font-size: 15px;
  height: 25px;
  float:right;
  margin-top: 5px;
  text-align: center;
  background-color: #027d85;
  color: #ffff;
  padding: 0px;
  vertical-align: middle;
}
.deletePopup{
  display:none;
  z-index: 111; ;
  top:20%;
  left:20%;
  text-align:center ;
  width:60%;
  height:auto;
  background:white;
  border:3px solid #027d85;
  position: absolute;
}
.deletePopupText{
  margin:10px;
  font-size:20px ;

}
.heightAdd{
  height:900%;
}
.SubmiteDeleteButton{
  width: 80px;
  font-size: 15px;
  height: 35px;
  
  margin: 10px;
  margin-bottom: 10%;
  text-align: center;
  background-color: #027d85;
  color: #ffff;
  padding: 0px;
  vertical-align: middle;
}
.DeteleTypeInBox{
  width: 50%;
  padding: 10px 20px;
  font-size:15px ;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
    
}
