@media screen and (max-width: 767px) {
  .center {
  height: 80px;
  width: 300px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .center {
  height: 80px;
  width: 502px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .center {
  height: 120px;
  width: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .center {
  height: 120px;
  width: 750px;
  }
}

.leftText {
  float: left;
}
.bankText {
  float: left;
  font-size: 12px;
  opacity: 0.5;
}

.leftTextMuted {
  float: left;
  font-size: 12px;
}

.rightText {
  float: right;
  font-weight: normal;
}

.largeText {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

.largeText2 {
  font-size: 18px;
  font-weight: bold;
}

.cashCard {
  margin: 15px;
}

.creditCard {
  margin: 15px;
}

.loanCard {
  margin: 15px;
}
