.people-cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: auto;
  margin: 1rem;
  min-width: 400px;
}

h5 {
  margin-top: 20px;
}

.accountListContainer {
  margin: auto;
  width: 80%;
  border: 3px solid #027d85;
  padding: 10px;
  margin-bottom: 20px;
}

.accountListDiv {
  text-align: left;
  font-size: 18px;
}

.viewTrans {
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}

.container-fluid {
  padding-top: 15px;
}

.financial_title {
  font-size: calc(20px + (24 - 20) * (100vw - 320px) / (1920 - 320));
}
.margintop100{
  margin-top:100px;
}
.tile_img_box {
  padding-bottom: 20px;
}
.financial_sub_text {
  font-size: calc(14px + (20 - 14) * (100vw - 320px) / (1920 - 320));
}
.spending_descreases .spending_graph .sg_img {
  height: 130px;
  width: 130px;
}
.spending_descreases .spending_graph .sg_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.spending_descreases .spending_graph .sg_block .sg_per {
  text-align: center;
  color: #242126;
  padding-top: 10px;
  margin-bottom: 0;
  font-size: calc(18px + (30 - 18) * (100vw - 320px) / (1920 - 320));
  font-weight: 600;
}

.likes_message{
  text-align: left;
  padding-left: 30px;
}
.PostIdRow{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top:10px;
    margin-right: -15px;
    margin-left: -15px;
}
.alignLeft{
  text-align: left;
  
}
.IdFont{
  font-weight:bold;
  font-size:  calc(20px + (24 - 20) * (100vw - 320px) / (1920 - 320));;

}
.TagFont{
  font-size:  calc(15px + (24 - 20) * (100vw - 320px) / (1920 - 320));;

}

.avatartilestyle
{
  height:60px;
  width:60px;
  left: 0px;
  border-radius: 40px;
}
.postImg
{
  max-height:100%;
  max-width:100%;
  display: block;
  margin-left: auto;
    margin-right: auto;
}
.hidden {
    display: none;
}
.l-c-s-text{
  margin-left:6px;
  font-size:1.1rem;
}
.tile-container{
  padding:0.5rem 1rem 1.5rem;
}