.test {
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 0px;
}

.viewTrans {
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 20px;
}
.accountListContainer{
    margin:5%;
    width: 90%;
    border: 3px solid #027d85;
    padding: 0px;
    margin-bottom: 20px;
}
.eachAccount{
  line-height: 1;
  margin:5%;
  margin-bottom: 0%;
  margin-top: 2%;
  font-size: 22px;
}
