.test {
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 0px;
}

.viewTrans {
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 20px;
}
.accountListContainer{
    margin:5%;
    width: 90%;
    border: 3px solid #027d85;
    padding: 0px;
    margin-bottom: 20px;
}
.eachAccount{
  line-height: 1;
  margin-left:5%;
  margin-right: 5%;
  height:fit-content;
  font-size: 20px;
  display:table;
  width:90%;
}
