.header {
  justify-content: right;
  z-index: 100;
}

.navbar {
  justify-content: center;
  color: white;
}
img.UserIcon {
  width: 5%;
  border-radius: 10%;
}
.iconContainer {
  justify-content: right;
}
.bg-primary2{
  background:transparent linear-gradient(180deg, #08a8b1 0%, #02777e 100%) 0%
    0% no-repeat padding-box;
}
