.btn-primary.custom-btn {
    border-radius:20px;
    background: transparent linear-gradient(180deg, #08a8b1 0%, #02777e 100%) 0%
    0% no-repeat padding-box !important;
    color: rgb(255, 255, 255);
  }

  .successMessage {
    color: green;
    font-weight: bold;
  }
.uploadImg{
  
  width:100%;
}
.category{
  display:flex;
}
.category label{
  width:50%;
  padding-left: 0;
}