.loginText {
  color: #007bff;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.successMessage {
  color: green;
  font-weight: bold;
}

.errorMessage {
  color: red;
  font-weight: bold;
}

.emailVerification {
  min-height: 80vh;
  padding: 20px;
}

.redDialogText > * {
  color: red !important;
}
.centerSmallText {
  text-align: center;
}