.heading_card {
  background: #027d85;
  height: auto;
}

.available_balance {
  color: #ffff;
  padding-top: 2rem;
}

.credit_balance {
  color: #ffff;
  padding-top: 2rem;
}

.available_balance_tagline {
  color: #ffff;
}

.available_credit_tagline {
  color: #ffff;
}

.h2 {
  padding: 20px;
}
.loginText {
  padding-top: 120px;
  font-size: 24px;
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .available_balance {
    font-size: 1.05rem;
  }

  .available_balance_tagline {
    font-size: 0.6rem;
  }

  .credit_balance {
    font-size: 1.05rem;
  }

  .available_credit_tagline {
    font-size: 0.6rem;
  }

  .heading_card {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .people_cards {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-size: 0.6rem;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .available_balance {
    font-size: 2rem;
  }

  .available_balance_tagline {
    font-size: 1.5rem;
  }

  .credit_balance {
    font-size: 2rem;
  }

  .available_credit_tagline {
    font-size: 1.5rem;
  }

  .heading_card {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .people_cards {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 1.5rem;
    background-color: purple;
  }
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
  .available_balance {
    font-size: 2.5rem;
  }

  .available_balance_tagline {
    font-size: 2rem;
  }

  .credit_balance {
    font-size: 2.5rem;
  }

  .available_credit_tagline {
    font-size: 2rem;
  }

  .heading_card {
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }

  .people_cards {
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    font-size: 2rem;
  }
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
  .available_balance {
    font-size: 2.5rem;
  }

  .available_balance_tagline {
    font-size: 2rem;
  }

  .credit_balance {
    font-size: 2.5rem;
  }

  .available_credit_tagline {
    font-size: 2rem;
  }

  .heading_card {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  .people_cards {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    font-size: 2rem;
  }
}

.btn-primary.custom-btn {
  background-color: #027d85;
  color: #ffff;
}

.accountListContainer {
  margin: auto;
  width: 60%;
  border: 3px solid #027d85;
  padding: 10px;
}

.accountListDiv {
  text-align: left;
  padding: 10px;
}
