.heading_card {
  background: #027d85;
  height: auto;
}

.available_balance {
  color: #ffff;
  padding-top: .3rem;
}

.credit_balance {
  color: #ffff;
  padding-top: .3rem;
  padding-left:.5rem;
}

.lds-dual-ring {
  display: inline-block;
  width: 40px;
  height: 50px;
  padding-top:13px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 34px;
  height: 34px;
  margin: 0px;
  border-radius: 50%;
  border: 5px solid #027d85;
  border-color: #027d85 transparent #027d85 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
.titile_desc{
  padding-top: 25px;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.noDisplay{
  display:none;
}

.available_balance_tagline {
  color: #ffff;
}

.available_credit_tagline {
  color: #ffff;
}

.h2 {
  padding: 20px;
}
.loginText {
  font-size: 24px;
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .dashboard {
    margin-top:100px;
  }
  .available_balance {
    font-size: 1.05rem;
  }

  .available_balance_tagline {
    font-size: 0.6rem;
  }

  .credit_balance {
    font-size: 1.05rem;
  }

  .available_credit_tagline {
    font-size: 0.6rem;
  }

  .heading_card {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .people_cards {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-size: 0.6rem;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard {
  }
  .available_balance {
    font-size: 2rem;
  }
  .available_balance h4 {
    font-size: 1.8rem;
  }

  .available_balance_tagline {
    font-size: 1.8rem;
  }

  .credit_balance {
    font-size: 2rem;
  }
  .credit_balance h4 {
    font-size: 1.8rem;
  }

  .available_credit_tagline {
    font-size: 1.5rem;
  }

  .heading_card {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .people_cards {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 1.5rem;
    background-color: purple;
  }
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
  .dashboard {
  }
  .available_balance {
    font-size: 2.5rem;
  }

  .available_balance_tagline {
    font-size: 2rem;
  }

  .credit_balance {
    font-size: 2.5rem;
  }

  .available_credit_tagline {
    font-size: 2rem;
  }

  .heading_card {
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }

  .people_cards {
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    font-size: 2rem;
  }
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
  .dashboard {
  }
  .available_balance {
    font-size: 2.5rem;
  }

  .available_balance_tagline {
    font-size: 2rem;
  }

  .credit_balance {
    font-size: 2.5rem;
  }

  .available_credit_tagline {
    font-size: 2rem;
  }

  .heading_card {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  .people_cards {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    font-size: 2rem;
  }
}

.btn-primary.custom-btn {
  background-color: #027d85;
  color: white;
}



/*
.dashboard {
  margin-top: 20%;
  width: 80%;
}
*/
