h1 {
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 80%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 60px;
  padding-left: 10px;
}

/* Control the left side */
.left {
  left: 0;
  width: 20%;

  padding-top: 60px;
}

/* Control the right side */
.right {
  right: 0;
}
