.App {
  text-align: center;
  padding-bottom: 60px;
}

.hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}
.btn-primary {
  margin-top: 20px;
  max-width: 200px;
  margin-bottom: 20px;
}
