@media only screen and (min-width: 768px) {
  .marvel-device {
    display: inline-block;
    position: relative;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
    margin: 0 auto;
    top: 50vh;
    margin-top: -410px;
    display: block;
    zoom: 0.8;
  }
  .marvel-device .screen {
    width: 100%;
    position: relative;
    height: 100%;
    z-index: 3;
    background: white;
    overflow: hidden;
    display: block;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 0 3px #111;
    box-shadow: 0 0 0 3px #111;
  }
  .marvel-device .top-bar,
  .marvel-device .bottom-bar {
    height: 3px;
    background: black;
    width: 100%;
    display: block;
  }
  .marvel-device .middle-bar {
    width: 3px;
    height: 4px;
    top: 0px;
    left: 90px;
    background: black;
    position: absolute;
  }
  .marvel-device.s5 {
    padding: 60px 18px;
    border-radius: 42px;
    width: 320px;
    height: 568px;
    background: #bcbcbc;
  }
  .marvel-device.s5:before,
  .marvel-device.s5:after {
    width: calc(100% - 52px);
    content: "";
    display: block;
    height: 26px;
    background: inherit;
    position: absolute;
    border-radius: 500px / 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .marvel-device.s5:before {
    top: -7px;
  }
  .marvel-device.s5:after {
    bottom: -7px;
  }
  .marvel-device.s5 .bottom-bar {
    display: none;
  }
  .marvel-device.s5 .top-bar {
    border-radius: 37px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 5px;
    left: 5px;
    background: radial-gradient(rgba(0, 0, 0, 0.02) 20%, transparent 60%) 0 0,
      radial-gradient(rgba(0, 0, 0, 0.02) 20%, transparent 60%) 3px 3px;
    background-color: white;
    background-size: 4px 4px;
    background-position: center;
    z-index: 2;
    position: absolute;
  }
  .marvel-device.s5 .top-bar:before,
  .marvel-device.s5 .top-bar:after {
    width: calc(100% - 48px);
    content: "";
    display: block;
    height: 26px;
    background: inherit;
    position: absolute;
    border-radius: 500px / 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .marvel-device.s5 .top-bar:before {
    top: -7px;
  }
  .marvel-device.s5 .top-bar:after {
    bottom: -7px;
  }
  .marvel-device.s5 .sleep {
    width: 3px;
    position: absolute;
    left: -3px;
    top: 100px;
    height: 100px;
    background: #cecece;
    border-radius: 2px 0px 0px 2px;
  }
  .marvel-device.s5 .speaker {
    width: 68px;
    height: 8px;
    position: absolute;
    top: 20px;
    display: block;
    z-index: 3;
    left: 50%;
    margin-left: -34px;
    background-color: #bcbcbc;
    background-position: top left;
    border-radius: 4px;
  }
  .marvel-device.s5 .sensor {
    display: block;
    position: absolute;
    top: 20px;
    right: 110px;
    background: #3c3d3d;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    z-index: 3;
  }
  .marvel-device.s5 .sensor:after {
    display: block;
    content: "";
    position: absolute;
    top: 0px;
    right: 12px;
    background: #3c3d3d;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    z-index: 3;
  }
  .marvel-device.s5 .camera {
    display: block;
    position: absolute;
    top: 24px;
    right: 42px;
    background: black;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    z-index: 3;
  }
  .marvel-device.s5 .camera:before {
    width: 4px;
    height: 4px;
    background: #3c3d3d;
    border-radius: 100%;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    margin-top: -2px;
    margin-left: -2px;
  }
  .marvel-device.s5 .home {
    position: absolute;
    z-index: 3;
    bottom: 17px;
    left: 50%;
    width: 70px;
    height: 20px;
    background: white;
    border-radius: 18px;
    display: block;
    margin-left: -35px;
    border: 2px solid black;
  }
  .marvel-device.s5.landscape {
    padding: 18px 60px;
    height: 320px;
    width: 568px;
  }
  .marvel-device.s5.landscape:before,
  .marvel-device.s5.landscape:after {
    height: calc(100% - 52px);
    width: 26px;
    border-radius: 40px / 500px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .marvel-device.s5.landscape:before {
    top: 50%;
    left: -7px;
  }
  .marvel-device.s5.landscape:after {
    top: 50%;
    left: auto;
    right: -7px;
  }
  .marvel-device.s5.landscape .top-bar:before,
  .marvel-device.s5.landscape .top-bar:after {
    width: 26px;
    height: calc(100% - 48px);
    border-radius: 40px / 500px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .marvel-device.s5.landscape .top-bar:before {
    right: -7px;
    top: 50%;
    left: auto;
  }
  .marvel-device.s5.landscape .top-bar:after {
    left: -7px;
    top: 50%;
    right: auto;
  }
  .marvel-device.s5.landscape .sleep {
    height: 3px;
    width: 100px;
    left: calc(100% - 200px);
    top: -3px;
    border-radius: 2px 2px 0px 0px;
  }
  .marvel-device.s5.landscape .speaker {
    height: 68px;
    width: 8px;
    left: calc(100% - 20px);
    top: 50%;
    margin-left: 0;
    margin-top: -34px;
  }
  .marvel-device.s5.landscape .sensor {
    right: 20px;
    top: calc(100% - 110px);
  }
  .marvel-device.s5.landscape .sensor:after {
    left: -12px;
    right: 0px;
  }
  .marvel-device.s5.landscape .camera {
    top: calc(100% - 42px);
    right: 24px;
  }
  .marvel-device.s5.landscape .home {
    width: 20px;
    height: 70px;
    bottom: 50%;
    margin-bottom: -35px;
    margin-left: 0;
    left: 17px;
  }
  .marvel-device.s5.black {
    background: #1e1e1e;
  }
  .marvel-device.s5.black .speaker {
    background: black;
  }
  .marvel-device.s5.black .sleep {
    background: #1e1e1e;
  }
  .marvel-device.s5.black .top-bar {
    background: radial-gradient(rgba(0, 0, 0, 0.05) 20%, transparent 60%) 0 0,
      radial-gradient(rgba(0, 0, 0, 0.05) 20%, transparent 60%) 3px 3px;
    background-color: #2c2b2c;
    background-size: 4px 4px;
  }
  .marvel-device.s5.black .home {
    background: #2c2b2c;
  }
  .marvel-device .screen {
    background: #efefef !important;
    overflow-y: scroll;
  }
  .screen::-webkit-scrollbar {
    width: 0 !important;
  }
  .screen {
    overflow: -moz-scrollbars-none;
  }
  .screen {
    -ms-overflow-style: none;
  }
  .marvel-device .top_section {
    position: relative;
    height: 105px;
  }
  .marvel-device .App {
    justify-content: center;
    margin-top: 0;
    overflow-y: scroll;
    height: 900px;
    width: 100%;
    position: absolute;
  }
  .App::-webkit-scrollbar {
    display: none;
  }
  .marvel-device .dashboard {
    margin-top: 100px;
  }
  .marvel-device .container {
    max-width: 650px !important;
  }
  .marvel-device footer {
    position: absolute !important;
    left: 0 !important;
    bottom: 0% !important;
    right: 0 !important;
    z-index: 9999 !important;
    max-width: 480px !important;
    margin: auto !important;
  }
  .marvel-device {
    width: 480px !important;
  }
  .marvel-device.s5 {
    height: 950px;
  }
}
