@font-face {
    font-family: "Proxima rg";
    src: url("./fonts/theme-font/ProximaNova-Regular.eot");
    src: url("./fonts/theme-font/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/theme-font/ProximaNova-Regular.woff2") format("woff2"), url("./fonts/theme-font/ProximaNova-Regular.woff") format("woff"), url("./fonts/theme-font/ProximaNova-Regular.ttf") format("truetype"), url("./fonts/theme-font/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #efefef;
    font-family: "Proxima rg";
    color: #333333;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /*text-transform: uppercase;*/
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.form-control {
    max-width: 50%;
    margin: auto;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-top: 2%;
    padding-left: 26%;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}


/* Bordered form */

form {
    border: 3px solid #f1f1f1;
}


/* Full-width inputs FIX TYPE TO MATCH FOR CHANGES*/

input[type="text"],
input[type="passwordd"] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 10%;
}


/* Set a style for all buttons */

button {
    background-color: #302df0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


/* Add a hover effect for buttons */

button:hover {
    opacity: 0.8;
}


/* Extra style for the cancel button (red) */

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


/* Center the avatar image inside this container */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}


/* Avatar image */

img.avatar {
    width: 20%;
    border-radius: 20%;
}

@media only screen and (min-width: 768px) {
    .smartphone {}
}


/* @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .smartphone {
        position: relative;
        width: 768px;
        height: 850px;
        margin: auto;
        margin-top: 20px;
        border: 16px black solid;
        border-top-width: 60px;
        border-bottom-width: 60px;
        border-radius: 36px;
    }
    .smartphone:before {
        content: '';
        display: block;
        width: 60px;
        height: 5px;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #333;
        border-radius: 10px;
    }
    .smartphone:after {
        content: '';
        display: block;
        width: 35px;
        height: 35px;
        position: absolute;
        left: 50%;
        bottom: -65px;
        transform: translate(-50%, -50%);
        background: #333;
        border-radius: 50%;
    }
    .smartphone .content {
        overflow: hidden;
        height: 700px;
    }
    .smartphone #root {
        overflow: auto;
        width: 100%;
        height: 99%;
    }
    #root::-webkit-scrollbar {
        width: 0 !important
    }
    #root {
        overflow: -moz-scrollbars-none;
    }
    #root {
        -ms-overflow-style: none;
        padding-bottom: 30px;
    }
    .top_section {
        position: static !important;
    }
    .dashboard {
        margin-top: 16% !important;
    }
    .container {
        max-width: 600px;
    }
    .footer {
        position: absolute !important;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 9999;
    }
} */

@media only screen and (max-width: 768px) {
    .footer {
        position: relative !important;
    }
}