@font-face {
  font-family: "Proxima rg";
  src: url("./fonts/theme-font/ProximaNova-Regular.eot");
  src: url("./fonts/theme-font/ProximaNova-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/theme-font/ProximaNova-Regular.woff2") format("woff2"),
    url("./fonts/theme-font/ProximaNova-Regular.woff") format("woff"),
    url("./fonts/theme-font/ProximaNova-Regular.ttf") format("truetype"),
    url("./fonts/theme-font/ProximaNova-Regular.svg#ProximaNova-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
  background: #efefef;
  font-family: "Proxima rg";
  color: #333333;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /*text-transform: uppercase;*/
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-control {
  max-width: 50%;
  margin: auto;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-top: 2%;
  padding-left: 26%;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs FIX TYPE TO MATCH FOR CHANGES*/
input[type="text"],
input[type="passwordd"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 10%;
}

/* Set a style for all buttons */
button {
  background-color: #302df0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;

  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 20%;
  border-radius: 20%;
}

@media only screen and (max-width: 768px) {
    .smartphone {
        position: relative;
        width: 420px;
        height: 740px;
        margin: auto;
        margin-top: 20px;
        border: 16px black solid;
        border-top-width: 60px;
        border-bottom-width: 60px;
        border-radius: 36px;
    }

        /* The horizontal line on the top of the device */
        .smartphone:before {
            content: '';
            display: block;
            width: 60px;
            height: 5px;
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #333;
            border-radius: 10px;
        }

        /* The circle on the bottom of the device */
        .smartphone:after {
            content: '';
            display: block;
            width: 35px;
            height: 35px;
            position: absolute;
            left: 50%;
            bottom: -65px;
            transform: translate(-50%, -50%);
            background: #333;
            border-radius: 50%;
        }

        /* The screen (or content) of the device */
        .smartphone .content {
            overflow: scroll;
            height: 578px;
            background: white;
        }

    .MuiBottomNavigationAction-root {
        flex: 1;
        color: rgba(0, 0, 0, 0.54);
        padding: 7px 0px 8px;
        max-width: 168px !important;
        min-width: 65px !important;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,padding-top 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    .MuiBottomNavigation-root {
        height: 56px;
        display: flex;
        justify-content: left !important;
        background-color: #fff;
    }

    .container {
        height: 473px;
    }
}
