@font-face {
  font-family: "Proxima rg";
  src: url("./fonts/theme-font/ProximaNova-Regular.eot");
  src: url("./fonts/theme-font/ProximaNova-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/theme-font/ProximaNova-Regular.woff2") format("woff2"),
    url("./fonts/theme-font/ProximaNova-Regular.woff") format("woff"),
    url("./fonts/theme-font/ProximaNova-Regular.ttf") format("truetype"),
    url("./fonts/theme-font/ProximaNova-Regular.svg#ProximaNova-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #e4e4e4;
  background-image: linear-gradient(to top, #a7a7a7 0%, #e4e4e4 51%);
  background-image: -webkit-linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
  background-image: -ms-linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #a7a7a7),
    color-stop(0.51, #e4e4e4)
  );
  background-attachment: fixed;
  font-family: "Proxima rg";
  color: #333333;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /*text-transform: uppercase;*/
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

label {
  font-size: 16px;
  font-weight: bold;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs FIX TYPE TO MATCH FOR CHANGES*/
input[type="text"],
input[type="passwordd"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #302df0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;

  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 20%;
  border-radius: 20%;
}
