.settingsPage{
    position: fixed;
    width: 100%;
    height:100%;
    background-color: white;;
  }
  @media only screen and (min-width: 768px){
  .settingsPage{
    position: relative;
    width: 100%;
    height:800px;
    background-color: white;;
  }
  }