.loginText {
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}

.successMessage {
  color: green;
  font-weight: bold;
}

.regForm {
  min-height: 80vh;
  padding: 20px;
}

.loginText {
  font-size: 14px;
}
